<div>
  <select
    [(ngModel)]="selectedType"
    class="form-select mb-2"
    (change)="filterByType()"
  >
    <option value="">All</option>
    @for (type of types; track $index) {
    <option [ngClass]="type + '-text'" [value]="type">
      {{ type | titlecase }}
    </option>
    }
  </select>
</div>
<div class="row g-2">
  @for (pokemon of pokemons; track pokemon.name) {
  <div class="col-lg-4 col-md-6 col-12">
    <app-pokemon-card
      [pokemon]="pokemon"
      [showDetails]="false"
    ></app-pokemon-card>
  </div>
  }
</div>
<div class="mt-2 d-flex gap-2 justify-content-between align-items-center">
  <pagination
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [(ngModel)]="currentPage"
    (pageChanged)="loadPokemons($event)"
    [maxSize]="5"
    [boundaryLinks]="true"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
    class="my-pagination m-0"
  ></pagination>
  <div><b>Total:</b> {{ totalItems }}</div>
</div>
