.my-pagination::ng-deep .page-item.active .page-link {
  color: #FFFFFF !important;
  background-color:#DC143C !important;
  border-color: #DC143C;
}

.my-pagination::ng-deep .page-item .page-link {
  color: black !important;
}